
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    direction: ltr;
}
body * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    line-height: normal;
    font: 13px 'Open Sans',sans-serif !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left -45px bottom -70px,right -50px bottom -70px;
    background-size: 295px;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1 {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: red;
    border-color: #ffffff;
    font-size: 100%;
    line-height: 2;
    text-decoration: none;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
a {
    color: #fff;
    text-decoration: none;
    transition: 0s linear;
    -moz-transition: 0s linear;
    -webkit-transition: 0s linear;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
user agent stylesheet
div {
    display: block;
}
ol, ul {
    list-style-type: circle;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
user agent stylesheet
i {
    font-style: italic;
}
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
img[Attributes Style] {
    width: 150px;
    height: 84px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-feed:before, .fa-rss:before {
    content: "\f09e";
}
fa-user:before {
    font-family: FontAwesome;
    content: "\f007";
}
.fa-clock-o:before {
    content: "\f017";
}
.fa-tag:before {
    content: "\f02b";
}
.rvad {
    border-bottom: 3px solid #ff0000;
    padding: 5px;
    margin: 0 0 5px;
}
.rvad h1 {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    text-transform: uppercase;
}
.episodeye {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: red;
    border-color: #ffffff;
    font-size: 100%;
    line-height: 2;
    text-decoration: none;
}
.iconf {
    float: right;
    margin: -15px 0;
    color: #444;
    font-size: 14px;
}
.kover {
    overflow: hidden;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid #eaeaea;
}
.detpost {
    overflow: hidden;
    margin-top: 5px;
}
.thumb {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.thumbz {
    width: 150px;
    overflow: hidden;
    height: 85px;
}
.thumb a {
    text-decoration: none;
}
.thumb img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    max-height: 150%;
    transition: .3s ease-in-out;
}
.content {
    margin-top: 0;
    overflow: hidden;
    background: #fafafa;
    padding: 5px 7px;
}
.content a {
    color: #fff;
}
.content h2 {
    color: #fff;
    font-size: 13px;
    margin: 0;
}
.content p {
    color: #555;
    font-size: 11px;
    line-height: 12px;
    display: block;
}
.venutama p {
    margin: 5px 0;
    color: #333;
}
.clear {
    clear: both;
}
.genre {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: red;
    border-color: #ffffff;
    font-size: 100%;
    line-height: 2;
    text-decoration: none;
}
