body {
	font-family: arial;
}

h3 {
    color: #fff;
    background-color: red;
    border-color: #ffffff;
}

.judul-anime {
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: red;
    border-color: #ffffff;
    font-size: 100%;
    line-height: 2;
    text-decoration: none;
}


.ongoing {
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: red;
    border-color: #ffffff;
    font-size: 100%;
    line-height: 2;
    text-decoration: none;
}

.uploader {
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: red;
    border-color: #ffffff;
    font-size: 100%;
    line-height: 2;
    text-decoration: none;
}

.genre {
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: red;
    border-color: #ffffff;
    font-size: 100%;
    line-height: 2;
    text-decoration: none;
}

.download {
	text-align: center;
}

.box {
	position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box.box-primary {
    border-top-color: red;
}

.post-title {
	text-align: center;
}

.judul-table {
    color: #fff;
    background-color: red;
    border-color: #fffff;
}



